<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <!-- <img src="../../assets/images/banner-ico.png" width="30" height="30" /> -->
    Spotiapp</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <!-- <a class="nav-link" routerLink="home">Home</a> -->
        <a class="nav-link" routerLink="/app/home" routerLinkActive="is-active">
          Home
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/app/buscar">Buscar</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a
        routerLink="/app/envios"
        routerLinkActive="is-active"
        class="navbar-item is-tab"
      >
        Envíos
      </a>
      <a class="navbar-item is-tab">
        Pago
      </a>
      <a
        routerLink="/app/reactivacion"
        routerLinkActive="is-active"
        class="navbar-item is-tab"
      >
        Reactivación
      </a>
      <a class="navbar-item is-tab">
        Reimpresión
      </a>
      <a class="navbar-item is-tab">
        Cancelación
      </a>
      <a class="navbar-item is-tab">
        Operaciones
      </a>
      <a class="navbar-item is-tab">
        Cotizador
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <button mat-button>
          CERRAR SESIÓN
        </button>
      </div>
    </div>
  </div>
</nav> -->
